.page-item.active .page-link {
  z-index: 3;
  color: #fff!important;
  background-color: #91B595!important;
  border-color: #91B595!important;
}
.page-item:not(:first-child) .page-link {
  margin-left: -1px;
}
.page-link:hover {
  z-index: 2;
  color: #91B595!important;
  background-color: #e9ecef;
  border-color: #91B595!important;
}
a:hover {
  color: #91B595!important;
}

.page-link {
  padding: .375rem .75rem;
}
.page-link {
  position: relative;
  display: block;
  color: #212529!important;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #212529!important;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-outline-secondary {
  color: #000!important;
  border-color: #000!important;
}

.btn-outline-secondary:hover {
  color: #fff!important;
  border-color: #fff!important;
  background-color: #91B595!important;
}

.product-heading {
  font-size: 0.9rem;
  font-weight: bold;
}

.product-price {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: left;
}


.product-text {
  font-size: 0.8rem;
}

.pdp-text {
  z-index: 1020;
  position: sticky;
}

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
